#BME-230B Spring 2019 Explore Data
Andrew Davidson aedavids@ucsc.edu 

ref:
- [scanpy Single-Cell Analysis in Python doc](https://scanpy.readthedocs.io/en/stable/index.html)
- [annadata: annotated data](https://scanpy.readthedocs.io/en/stable/basic_usage.html#anndata)

## Notes about the data
- The home work says there where two experiments and we need to combine the two data sets. it looks like this was already done for us. Where told "The data has 8098 cells measured on the 3prime platform and 7378 measured on the 5prime platform.

- anndata.X shape:(15476, 1199)
    * 15476 = 8098 + 7378

In [1]:
import numpy as np
import scanpy.api as sc

In [2]:
%%time
anndata = sc.read("PBMC.merged.h5ad")
print("adata type:{}".format(type(anndata)))

adata type:<class 'anndata.base.AnnData'>
CPU times: user 1.61 s, sys: 160 ms, total: 1.77 s
Wall time: 1.2 s

In [3]:
anndata

AnnData object with n_obs × n_vars = 15476 × 1199
    obs: 'Sample', 'n_counts', 'n_genes', 'batch', 'louvain', 'anno', 'Method', 'Cell type'
    var: 'GeneName-0', 'GeneID-0', 'GeneName-1', 'GeneID-1', 'means', 'dispersions', 'dispersions_norm'
    uns: 'Cell type_colors', 'Method_colors', 'Sample_colors', 'anno_colors', 'louvain', 'louvain_colors', 'neighbors', 'rank_genes_groups'
    obsm: 'X_pca', 'X_umap', 'X_tsne'

In [12]:
anndata.X

array([[-0.1964075 ,  2.1636498 , -0.18641369, ..., -0.0779918 ,
        -0.9314647 , -0.77732456],
       [-0.1964075 ,  1.3718529 , -0.18641369, ..., -0.0779918 ,
        -0.9314647 , -0.77732456],
       [-0.1964075 , -0.56439495, -0.18641369, ..., -0.0779918 ,
        -0.9314647 ,  0.8405579 ],
       ...,
       [-0.1964075 , -0.56439495, -0.18641369, ..., -0.0779918 ,
         1.0188808 ,  2.2114685 ],
       [-0.1964075 , -0.56439495, -0.18641369, ..., -0.0779918 ,
         0.5726825 ,  0.21773037],
       [-0.1964075 , -0.56439495, -0.18641369, ..., -0.0779918 ,
         1.1075432 ,  1.8812242 ]], dtype=float32)

In [5]:
print("anndata.X type:{}".format(type(anndata.X)))
print("anndata.X shape:{}".format(anndata.X.shape))

anndata.X type:<class 'numpy.ndarray'>
anndata.X shape:(15476, 1199)

In [6]:
#anndata.uns lots of output

In [10]:
anndata.var.head()

,GeneName-0,GeneID-0,GeneName-1,GeneID-1,means,dispersions,dispersions_norm
index,,,,,,,
HES4,HES4,ENSG00000188290,HES4,ENSG00000188290,0.114088,1.479612,1.523847
ISG15,ISG15,ENSG00000187608,ISG15,ENSG00000187608,0.589058,1.640704,1.394684
TNFRSF18,TNFRSF18,ENSG00000186891,TNFRSF18,ENSG00000186891,0.088250,1.211858,0.854643
TNFRSF4,TNFRSF4,ENSG00000186827,TNFRSF4,ENSG00000186827,0.123849,1.205380,0.838453
MMP23B,MMP23B,ENSG00000189409,MMP23B,ENSG00000189409,0.046411,1.151547,0.703906

In [9]:
anndata.obs.head()

,Sample,n_counts,n_genes,batch,louvain,anno,Method,Cell type
index,,,,,,,,
data_3p-AAACCTGAGCATCATC-0,data_3p,2394.0,871,0,9,B cell,10X_3prime,B cell
data_3p-AAACCTGAGCTAGTGG-0,data_3p,4520.0,1316,0,5,CD4 T cell,10X_3prime,CD4 T cell
data_3p-AAACCTGCACATTAGC-0,data_3p,2788.0,898,0,1,CD4 T cell,10X_3prime,CD4 T cell
data_3p-AAACCTGCACTGTTAG-0,data_3p,4667.0,1526,0,0,Monocyte_CD14,10X_3prime,Monocyte_CD14
data_3p-AAACCTGCATAGTAAG-0,data_3p,4440.0,1495,0,0,Monocyte_CD14,10X_3prime,Monocyte_CD14

In [13]:
anndata.obs.keys()

Index(['Sample', 'n_counts', 'n_genes', 'batch', 'louvain', 'anno', 'Method',
       'Cell type'],
      dtype='object')

In [19]:
# type = pandas.core.indexes.base.Index
sum(anndata.obs.index.str.contains('data_3p'))

8098

In [16]:
type(anndata.obs.index)

pandas.core.indexes.base.Index